---
---

@import "{{ site.theme }}";
 p
{
   font-family: Verdana, Arial, sans-serif !important;
}

li *
{
   font-family: Verdana, Arial, sans-serif !important;
   margin-top: 20px;
}

code *
{
   font-family: 'Inconsolata', Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}
